<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode title="Home" controller="Home" action="Overview">
    <siteMapNode title="Nhật ký hệ thống" Text="Nhật ký" controller="Home" action="Index" ImageUrl="~/Administration/Content/images/ico-dashboard.png" />
    
    <siteMapNode title="Quản lý Trang" Text="Trang" PermissionNames="" ImageUrl="~/Administration/Content/images/ico-catalog.png">
      <siteMapNode title="Danh mục động" Text="Danh mục động">
        <siteMapNode title="Quản lý Danh mục động" Text="Quản lý Danh mục động" controller="GenericCatalog" action="List" />
        <siteMapNode title="Template Danh mục động" Text="Template" controller="Templates" action="GenericCatalog" />
      </siteMapNode>
      <siteMapNode title=" Danh mục" Text="Danh mục">
        <siteMapNode title="Quản lý Danh mục" Text="Quản lý Danh mục" controller="Catalog" action="Index" />
        <siteMapNode title="Template Danh mục" Text="Template" controller="Templates" action="Catalog" />
      </siteMapNode>
      <siteMapNode title="Thiết lập danh mục" Text="Thiết lập danh mục" controller="Settings" action="Catalog" />
    </siteMapNode>
    
    <siteMapNode title="Quản lý tài khoản" Text="Tài khoản" PermissionNames="" ImageUrl="~/Administration/Content/images/ico-customers.png">
      <siteMapNode title="Tài khoản" Text="Danh sách tài khoản" controller="Account" action="Index" />
      <siteMapNode title="Vai trò" Text="Vai trò" controller="AccountRole" action="Index" />
      <siteMapNode title="Tài khoản đang online" Text="Tài khoản đang online" controller="Account" action="Online" />
    </siteMapNode>
    
    <siteMapNode title="Nội dung" Text="Nội dung" PermissionNames="" ImageUrl="~/Administration/Content/images/ico-content.png">
      <siteMapNode title="Quản lý Thông báo" Text="Thông báo" controller="Notice" action="Index" />
      <siteMapNode title="Quản lý chủ đề" Text="Chủ đề" controller="Topic" action="List" />
      <siteMapNode title="Templates" Text="Templates">
        <siteMapNode title="Danh mục Động" Text="Danh mục Động" controller="Templates" action="GenericCatalog" />
        <siteMapNode title="Danh mục" Text="Danh mục" controller="Templates" action="Catalog" />
      </siteMapNode>
      <siteMapNode title="Quản lý Mẫu tin nhắn" Text="Mẫu tin nhắn" controller="MessageTemplate" action="Index" />
      <siteMapNode title="Quản lý Thư giới thiệu" Text="Thư giới thiệu" controller="Campaign" action="Index" />
      <siteMapNode title="Quản lý Widget" Text="Widgets" controller="Widget" action="List" />
    </siteMapNode>
    
    <siteMapNode title="Cấu hình hệ thống" Text="Cấu hình" PermissionNames="" ImageUrl="~/Administration/Content/images/ico-configuration.png">
      <siteMapNode title="Thiết lập" Text="Thiết lập">
        <siteMapNode title="Cấu hình chung" Text="Cấu hình chung" controller="Settings" action="Common" />
        <siteMapNode title="Cấu hình Seo" Text="Cấu hình SEO" controller="Settings" action="Seo" />
        <siteMapNode title="Cấu hình Analysis và MXH" Text="Cấu hình Analysis và MXH" controller="Settings" action="AnalysisNSocialNetwork" />
        <siteMapNode title="Thiết lập danh mục" Text="Thiết lập Danh mục" controller="Settings" action="Catalog" />
      </siteMapNode>
      <siteMapNode title="Quản lý Ngôn ngữ" Text="Ngôn ngữ" PermissionNames="ManageLanguages" controller="Language" action="List" />
      <siteMapNode title="Quản lý tài khoản Email" Text="Tài khoản Email" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="Index" />
      <siteMapNode title="Quản lý phương thức truy xuất mở rộng" Text="Phương thức truy xuất mở rộng" PermissionNames="ManageExternalAuthentication" controller="ExternalAuthentication" action="Methods" />
      <siteMapNode title="Quản lý quyền truy xuất" Text="Quyền truy xuất" PermissionNames="ManageACL" controller="Security" action="Permissions" />
      <siteMapNode title="Quản lý Plugins" Text="Plugins" controller="Plugin" action="List" />
      <siteMapNode title="Nhật ký hệ thống" Text="Nhật ký hệ thống" controller="Log" action="List" />
    </siteMapNode>

  </siteMapNode>
</siteMap>
