@model MessageTemplateModel
@using Aaron.Admin.Models.Messages
@{
    //page title
    ViewBag.Title = "Chi tiết Mẫu " + Model.Name;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
            Chi tiết mẫu @Model.Name - @Html.ActionLink("Trở về danh sách", "List")
        </div>
        <div class="options">
            <input type="submit" name="save" class="t-button" value="Lưu" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}